<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNSelectPhotosExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EC22B801DC081E7001D57D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EC22B991DC081E7001D57D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EC22BA41DC081E7001D57D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
